@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
	--primary-color: #000000;
	--background-color: #ffffff;
	--dark-color: #000000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
}
body {
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
}
/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    color: #333; /* Color del texto */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre caracteres */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 20px 0; /* Añade espacio alrededor del texto */
}

header {
    backdrop-filter: blur(10px);
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 23rem;
    transition: 0.5 ease;
    min-height: 7vh;
}
header .brand {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .navigation {
    position: relative;
}
header .navigation .navigation-items a {
    position: relative;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #ffffff;
    width: 0;
    height: 3px; /* Corregir el valor 'px' aquí */
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:hover:before {
    width: 100%;
}
section {
    padding: 100px 200px;
}
.inicio {
    
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.inicio:before {
    z-index: 777;
    content: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.089);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.inicio .content {
    
    z-index: 888;
    color: #ffffff;
    width: 70%;
    margin-top: 50px;
    font-size: 1.1em;
}
.inicio .content h1 {
    color: #ffff;
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 40px;
    position: relative;
    display: inline-flex;
    padding: 10px;
}
.inicio .content h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(136, 136, 136, 0.366);
    backdrop-filter: blur(5px);
    border: none; /* Quitar el borde */
    border-radius: 2rem;
    z-index: -1;
}
.inicio .content h1 span {
    color: fff;
    font-size: 1em;
    font-weight: 600;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border: none; /* Quitar el borde */
    border-radius: 2rem;
}
.inicio .content p {
    color: #ffffff; 
    padding: 10px 20px; 
    margin-bottom: 20px;
    font-size: 1.1em; 
    background: #8181817e; 
    border: 12px;
    border-radius: 23px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.inicio .content a {
    background: #81818152;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 50px; /* Usar un valor grande para un aspecto más moderno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agregar sombra */
    transition: background 0.3s ease, transform 0.2s ease;
}

.inicio .content a:hover {
    background: #392f2f52; /* Cambiar colores en el hover */
    transform: scale(1.05); /* Hacer que el botón se agrande ligeramente en el hover */
}
.inicio video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.inicio .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
.inicio .media-icons a{
    color: #fff;
    font-size: 1.6em;
}
.inicio .media-icons a:not(:last-child){
    margin-bottom: 20px;
}
.inicio .media-icons a:hover{
    transform: scale(1.3);
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}
.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: #7675757a;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255,255,255,0.5);
    transition: 0.3s ease;
}
.slider-navigation .nav-btn.active {
    background: #f6f1eb;
}
.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}
.slider-navigation .nav-btn:hover {
    transform: scale(1.2);
}
.video-slide {
    
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 1s ease;
    transition-property: clip-path;
}
/*            MAIN CONTENT            */
.main-content {
	background-color: #fff;
}
/*              FEATURES              */
.container-features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.4rem;
    padding: 3rem 0;
}

.card-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border: none; /* Elimina el borde */
    border-radius: 8px; /* Redondea las esquinas */
    padding: 1rem; /* Espaciado interior */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-feature i {
    font-size: 2.7rem;
    color: var(--primary-color);
}

.feature-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feature-content span {
    font-weight: 700;
    font-size: 1.2rem;
    color: #141515;
}

.feature-content p {
    color: #000000;
    font-weight: 500;
}
/*bottom*/
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Para centrar el texto horizontalmente */
    gap: 3rem;
}
.bottom span {
    color: #000000;
    background-color: #fff;
    padding: 0.7rem 3rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.bottom span:hover {
    background-color: var(--primary-color);
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.bottom span.active {
    background-color: var(--primary-color);
    color: #fff;
}
/*              Categorias             */

.top-categories {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}
.card-category p {
    font-size: 1.6rem;
    color: #ffffff;
    text-transform: capitalize;
    position: relative;
}

.card-category p::after {
    content: '';
    width: 3rem;
    height: 2px;
    background-color: var(--background-color);
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%);
}

.card-category span {
    font-size: 1.6rem;
    color: #fff1f1;
    cursor: pointer;
    transition: color 0.3s ease; /* Agregamos una transición de color suave */
}

.card-category span:hover {
    color: var(--primary-color);
}

.card-category span:hover + p::after {
    background-color: var(--primary-color);
}
.card-category {
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}
.category-seco {
	background-image: linear-gradient(#00000080, #00000080),
		url('https://www.cleanipedia.com/images/iohqr4whhl17/4nOx3ksgB8YirbuDqGSrYm/77fbb484c6b6165e83292aa432a3e339/YzJkMWNlZTI3NGQyNzk3ZDEyYjlmOTdkYjNiYWU1ZWItMTgwMHctMTIwMGgud2VicA/730w-487h/perchas-con-ropa-colgada.avif');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.category-mascota {
	background-image: linear-gradient(#00000080, #00000080),
		url('https://www.65ymas.com/uploads/s1/17/17/36/prendas-de-lino_1_621x621.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.category-planchado {
	background-image: linear-gradient(#00000080, #00000080),
		url('https://mejorconsalud.as.com/wp-content/uploads/2023/03/cama-de-mascota-limpia.jpg?auto=webp&quality=60&width=1920&crop=16:9,smart,safe');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/* ********************************** */
/*            TOP PRODUCTS            */
/* ********************************** */
.top-products {
    background-color: #f9f3eb;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
    border: 2px solid #ccc; /* Borde sólido */
    border-radius: 7px; /* Redondea las esquinas */
    padding: 2rem; /* Añade un poco de espacio interior */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.container-options {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.container-options span {
    color: #777;
    background-color: #fff;
    padding: 0.7rem 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Agregamos transiciones para crear efectos suaves */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregamos una sombra */
}

.container-options span:hover {
    background-color: var(--primary-color);
    color: #fff;
    transform: scale(1.05); /* Escala ligeramente el elemento al pasar el cursor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el cursor */
}

.container-options span.active {
    background-color: var(--primary-color);
    color: #fff;
}
/* Products */
.container-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
    
}

.card-product {
	background-color: #ffffff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img {
    position: relative;
    display: inline-block; /* Hace que el contenedor se ajuste al contenido */
}

.container-img img {
    width: 100%;
    vertical-align: middle; /* Alinea verticalmente la imagen en relación con el texto */
}

.container-img .discount {
    position: absolute;
    top: 1%; /* Coloca el elemento de descuento en la mitad superior del contenedor */
    left: 0;
    transform: translateY(-50%); /* Alinea verticalmente el elemento de descuento en relación con el centro de la imagen */
    background-color: var(--primary-color);
    color: #fff;
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.card-product:hover .discount {
	background-color: #000;
}

.button-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.4s ease;
}

.button-group span {
	border: 1px solid var(--primary-color);
	padding: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.button-group span:hover {
	background-color: var(--primary-color);
}

.button-group span i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.button-group span:hover i {
	color: #fff;
}

.card-product:hover .button-group {
	z-index: 0;
	right: -1rem;
}

.content-card-product {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
}

.stars {
	grid-row: 1/2;
	grid-column: 1/-1;
}

.stars i {
	font-size: 1.3rem;
	color: var(--primary-color);
}

.content-card-product h3 {
	grid-row: 2/3;
	grid-column: 1/-1;
	font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.content-card-product h3:hover {
	color: var(--dark-color);
}

.add-cart {
	justify-self: start;
	border: 2px solid var(--primary-color);
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-cart:hover {
	background-color: var(--primary-color);
}

.add-cart i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.add-cart:hover i {
	color: #fff;
}

.content-card-product .price {
	justify-self: end;
	align-self: center;
	font-size: 1.7rem;
	font-weight: 600;
}

.content-card-product .price span {
	font-size: 1.5rem;
	font-weight: 400;
	text-decoration: line-through;
	color: #777;
	margin-left: 0.5rem;
}
/*section de asesor*/
.background-section {
    background-image: url('https://images.pexels.com/photos/4275885/pexels-photo-4275885.jpeg');
    background-size: cover;
    background-position: center top; /* Ajusta la posición del fondo */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    width: 100%;
}
/* Estilos para text-container */
.main-container {
    display: flex;
    flex-direction: row; /* Organiza los elementos en una fila */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Estilos para text-container (Texto y contenido de container-bottom) en la columna izquierda */
  .text-container {
    flex: 2; /* Toma todo el espacio disponible */
    padding: 20px;
    margin-bottom: 20px
  }
.text-container h2 {
    color: #ffffff;
    font-size: 3em;
    margin-bottom: 10px;
  }
.text-container p {
    color: #ffffff;
    font-size: 1.7em;
    line-height: 2.4rem;
}  
.container-bottom {
    display: flex;
    flex-direction: row;/* Organiza los elementos en una columna */
    gap: 1rem;
  }
  
  .container-bottom span {
    color: #6d6c6c;
    background-color: #fff;
    padding: 0.7rem 3rem;
    font-size: 0.8rem;
    text-transform: capitalize;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .container-bottom span:hover {
    background-color: var(--primary-color);
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .container-bottom span.active {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  /* Estilos para video-container (Video en la columna derecha) */
/* Estilos para el contenedor del video */
.video-container {
    position: relative;
    width: 60%; /* Ajusta el ancho del contenedor de video según tus necesidades */
    margin-left: 10%; /* Mueve el contenedor de video hacia la derecha */
    
}

/* Estilos para el video dentro del contenedor */
.video-container video {
    width: 100%;
    height: auto;
}

/* Estilos para los controles personalizados */
.custom-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0; /* Inicialmente ocultar los controles */
    transition: opacity 0.3s; /* Agregar transición de opacidad */
}

.custom-controls:hover {
    opacity: 1; /* Mostrar los controles al pasar el mouse por encima */
}

.custom-controls button,
.custom-controls input {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.custom-controls button {
    background-color: #0077FF;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.custom-controls button:hover {
    background-color: #0055CC;
}

.custom-controls input[type="range"] {
    width: 80px;
}

/* Cambiar el estilo del botón "Silencio" cuando el video está silenciado */
.custom-controls button.muted {
    background-color: #FF0000;
}

/* ********************************** */
/*               FOOTER               */
/* ********************************** */

.footer {
	background-color:#fff;
    border: #000000;
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.1rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #000000;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #000000;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--dark-color);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #0a0606;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 1.4rem;
	color: #030303;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #000000;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #000000;
}

.content button {
	border: none;
	background-color: #000000;
	color: #ffffff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--dark-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}
@media (max-width: 1040px){ 
    body {
        overflow-x: hidden;
    }
    
    header {
        
        padding: 12px 20px;
    }
    section {
        padding: 100px 20px;
    }
    .home .media-icons {
        right: 15px;
        
    }
    header .navigation {
       display: none;
       
    }
    
    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 36rem;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1,1,1.0.5);
    }

    header .navigation .navigation-items a {
        color: #000000;
        font-size: 1.5rem;
        margin: 10px;
    }
    header .navigation .navigation-items a:before {
        background: #000000;
        height: 5px;
    }
    header .navigation.active .navigation-items {
        background: #ffffff;
        width: 300px;
        max-width: 300px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: -0%;
        box-shadow: 0 2px 1px rgba(255, 255, 255, 0.2);
    }
    .inicio .content a {
        background: rgba(136, 136, 136, 0.366);
        backdrop-filter: blur(1.5em);
        padding: 10px 15px;
        color: #ffffff;
        font-size: 1.1em;
        font-weight: 500;
        text-decoration: none;
        border-radius: 2rem;
    }
    .menu-btn {
        background: url(../img/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .menu-btn.active {
        z-index: 999;
        background: url(../img/x.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0,3s ease;
    }
    .container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 2rem 1rem;
	}

	.card-feature {
		padding: 1rem;
	}
    .heading-1 {
        
		font-size: 2.4rem;
	}
    .top-products {
        background-color: #f9f3eb;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        margin-bottom: 6rem;
        border-radius: 8px; /* Redondea las esquinas */
        padding: 5rem; /* Añade un poco de espacio interior */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }

	.card-category {
        
		height: 12rem;
	}

	.card-category p {
		font-size: 1.2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
        color: #e4e4e4;
		font-size: 1rem;
	}
    .container-options {
        flex-direction: column;
        align-items: center;
    }
    
    .container-options span {
        width: 49%;
        margin-bottom: 1rem;
        padding: 0.7rem 1.5rem; /* Ajusta el padding para dispositivos móviles */
        border-radius: 0.5rem; /* Valor de border-radius reducido */
    }
    .video-container {
        padding: 10px; /* Reducir el espaciado alrededor del video */
    }
    .video-container iframe {
        width: 270px;
        height: 270px;
    }

    .text-container {
        flex-direction: column; /* Apilar el texto debajo del video */
        padding: 0px; /* Reducir el espaciado alrededor del texto */
    }

    .text-container h2 {
        color: #f7f8f9;
        font-size: 2em; /* Reducir el tamaño de la fuente del título */
        margin-bottom: 5px; /* Reducir el margen inferior del título */
    }

    .text-container p, .text-container span {
        font-size: 1.2em; /* Reducir el tamaño de la fuente del párrafo y el span */
    }
    .btn-read-more{
		font-size: 1.8rem;
	}

	.contact-info ul,
	.information ul,
	.my-account ul{
		display: none;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	.content p{
		font-size: 1.6rem;
	}
}
